
<div class="description-container">
  <h1>LOAN CALCULATOR</h1>
  <p>This application calculates monthly loan payment and creates a loan schedule table for you. The application requires the amount of loan, interest rate to apply and number of periods to payoff.</p>
</div>

<div class="form-container box-shadow">
  <form novalidate class="input-container" name="form">
    <div class="form-group">
      <label>How much are you looking to borrow?</label>
      <input class="input-form" type="number" placeholder="5000" ng-model="loan.amount" name="loan_amount" ng-change="update()" required/>
      <p class="form-error" ng-show="form.loan_amount.$touched && form.loan_amount.$error.required">Please fill out the amount of loan</p>
    </div>

    <div class="form-group">
      <div class="multiple-forms">
        <label>For how long? (months)</label>
        <input class="input-form" id="term" type="number" placeholder="48" name="loan_months" ng-model="loan.number_of_months" ng-change="update()" required/>
      </div>
      <p class="form-warning" ng-show="loan_start_month_warning != ''">{{loan_start_month_warning}}</p>
      <p class="form-error" ng-show="form.loan_months.$touched && form.loan_months.$error.required">Please fill out the number of months to payback</p>

    </div>

    <div class="form-group">
      <div class="multiple-forms">
        <label>When? (optional)</label>
        <input class="input-form" id="month" type="month" name="start" ng-model="loan.start_month" ng-change="update()" />
      </div>

      <p class="form-warning" ng-show="loan_start_month_warning != ''">{{loan_start_month_warning}}</p>
    </div>

    <div class="form-group">
      <div class="multiple-forms">
        <label>Interest rate (%)</label>
        <input class="input-form" id="input-rate" type="number" placeholder="4.50" name="custom" ng-model="loan.custom_rate" ng-change="update()" />
      </div>
      <p class="form-error" ng-show="loan_rate_error != ''">{{loan_rate_error}}</p>
    </div>

    <div class="form-group">
      <div class="multiple-forms">
        <label>Or find a rate</label>
        <select class="select-form select-option" id="select-rate" name="federal" ng-model="loan.federal_rate" ng-change="update()" >
          <option value="" selected>Find a rate</option>
          <option ng-repeat="rate in rates" value={{rate.interest_rate}}>{{(rate.interest_rate * 100).toFixed(2)}}% - {{rate.loan}}</option>
        </select>
      </div>
      <p class="form-warning" ng-show="loan_rate_warning != ''">{{loan_rate_warning}}</p>

    </div>



    <button class="reset-button" ng-click="reset()">Reset Calculation</button>
  </form>

  <div class="result-container">
    <p>Your estimated monthly payment</p>
    <h1><span class="dollar-sign">$</span><span id="est-payment">{{result.est_payment}}</span></h1>
    <hr class="result-separate-line">
    <table class="result-table">
      <tr><td class="result-title">Total Principal</td><td class="result-amount">${{result.subtotal_principal.toFixed(2)}}</td></tr>
      <tr><td class="result-title">Total Interest</td><td class="result-amount">${{result.subtotal_interest.toFixed(2)}}</td></tr>
    </table>

    <button class="open-schedule-button" ng-click="toggle_show_loan_schedule()" ng-show="show_loan_schedule == false">See amortization schedule</button>
    <button class="open-schedule-button" ng-click="toggle_show_loan_schedule()" ng-show="show_loan_schedule == true">Close schedule</button>
  </div>

</div>


<div class="loan-schedule" ng-show="open_loan_schedule()">

  <div class="description-container">
    <h1>LOAN AMORTIZATION SCHEDULE</h1>
    <p>This loan amortization schedule shows how much you should pay for each month over the course of loan contract.</p>
  </div>

  <table class="loan-schedule-table box-shadow">
    <thead>
      <tr>
        <td>Month</td>
        <td>Payment</td>
        <td>Principal</td>
        <td>Interest</td>
        <td>Balance</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="s in schedule">
        <td>{{s.month}}</td>
        <td>{{s.payment}}</td>
        <td>{{s.principal}}</td>
        <td>{{s.interest}}</td>
        <td>{{s.balance}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Subtotal</td>
        <td>{{subtotal_payment.toFixed(2)}}</td>
        <td>{{subtotal_principal.toFixed(2)}}</td>
        <td>{{subtotal_interest.toFixed(2)}}</td>
        <td>-</td>
      </tr>
    </tfoot>
  </table>

</div>