@import "colors.scss";

.footer-container {
  padding-top: 1vh;
  flex: 1;
  background: $primary;
  height: 30vh;
  p {
    margin-top: 3vh;
    color: #fff;
    text-align: center;
    a {
      text-decoration: none;
      color: #fff;
    }
    a:hover {
      color: #eee;
    }
  }
}
