@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "bg.scss";
@import "form.scss";
@import "table.scss";
@import "footer.scss";

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

p {
  font-size: 20px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.6)
}

.box-shadow {
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.1);
}

.main-container {
  width: 100%;
  background: #fff;
}

.sub-container {
  background: #fff;
  padding: 10vh 25vw;
}
