@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "form.scss";
@import "footer.scss";
@import "table.scss";

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

p {
  line-height: 1.7rem;
  color: rgba(0, 0, 0, 0.6)
}

.box-shadow {
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.1);
}

.main-container {
  background: #fff;
  padding: 10vh 25vw;
}

.loan-schedule {
  margin-top: 15vh;
}